/* Main */

:root {
    --background: #07134F;
    --accentPrimary: #3ED6CD;
    --accentSecondary: #F9B345;
    --textColor: #ffffff;
    --fontPrimary: 'Roboto', sans-serif;
    --fontSecondary: 'Montserrat', sans-serif;
}

* {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--background);
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

#container {
    margin: 0% 5%;
}

header, footer {
    padding-right: 3%;
    padding-left: 3%;
    width: 94%;
}

/* Background */

.backgroundImg {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: auto;
}

#bgImg1 {
    top: -20%;
    right: -20%;
}

#bgImg2 {
    bottom: 10%;
    left: -15%;
}

#bgImg3 {
    top: 0%;
    right: -20%;
}

#bgImg4 {
    top: -20%;
    left: -20%;
}

#bgImg5 {
    top: -20%;
    right: -20%;
}

#bgImg6 {
    top: -20%;
    left: -20%;
}

#bgImg7 {
    top: -20%;
    right: -20%;
}

#bgImg8 {
    bottom: 10%;
    left: -15%;
}

/* Special Effects: 1. Text Hover */

.underlineHover {
    display: inline-block;
    padding-bottom: 0.5em;
    background-image: linear-gradient(var(--accentPrimary), var(--accentPrimary));
    background-position: 0 100%; 
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
}

.underlineHover:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

/* Special Effects: 2. Title */

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}
  
.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

/* Special Effects: 3. Arrow Page Links */

.arrowLinkDiv {
    position: absolute;
    width: 100%;
    top: 85%;
}

.arrowLink {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    text-decoration: none;
}

.arrowLink .arrowLinkText {
    font-size: 18px;
    font-weight: 600;
    color: var(--accentPrimary);
    display: none;
    transition: 0.3s;
    text-transform: uppercase;
}

.arrowLink .material-icons.md-48 { 
    font-size: 48px; 
    color: var(--accentPrimary);
    transition: 0.3s;
}

.arrowLink .material-icons.md-48:hover {
    font-size: 36px; 
}

.arrowLink .material-icons.md-48:hover + .arrowLinkText {
    display: block;
}

/* Text */

h1 {
    font-family: var(--fontSecondary);
    color: var(--accentSecondary);
    font-size: 55px;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: var(--fontSecondary);
    color: var(--textColor);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    margin: 0;
}

/* Primary Nav */

#navBar {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    position: fixed;
    z-index: 1;
    transition: .3s;
}

#navBar img {
    width: 4%;
    height: auto;
    position: absolute;
    z-index: 2;
}

#navBar #primaryNav {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6em;
    transform: translate(1.5%, 0%);
}

a {
    font-family: var(--fontSecondary);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accentPrimary);
}

/* Full Page Sections */

.fullPageSection {
    height: 100vh;
    position: relative;
}

.fullPageSection .absoluteCenteredContent {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    justify-content: center;
    align-items: center;
}

/* 0. Home */

#page0 {
    text-align: center;
}

/* 1. What */

#page1 {
    text-align: center;
}

#page1 .absoluteCenteredContent #logos {
    padding: 3em 10em 3em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 2. Combine */

#page2 {
    text-align: left;
}

#page2 .absoluteCenteredContent {
    display: flex;
    justify-content: space-between;
    align-items: center;}

#page2 .absoluteCenteredContent img {
    margin-right: 6em;
    width: 20%;
    height: auto;
}

/* 3. Browse */

#page3 {
    text-align: left;
}

#page3 .absoluteCenteredContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page3 .absoluteCenteredContent img {
    margin-right: 6em;
    border-radius: 40px;
    width: 20%;
    height: auto;
}

/* 4. Route */

#page4 {
    text-align: left;
}

#page4 .absoluteCenteredContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page4 .absoluteCenteredContent img {
    margin-right: 6em;
    border-radius: 40px;
    width: 20%;
    height: auto;
}

/* 5. Try  */

#page5 {
    text-align: center;
}

#page5 .absoluteCenteredContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

#page5 .absoluteCenteredContent img {
    width: 20%;
    height: auto;
}